* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Overpass-Semi-Bold';
    src: url(./Fonts/Overpass-SemiBold.ttf);
}

@font-face {
    font-family: 'Overpass-Bold';
    src: url(./Fonts/Overpass-Bold.ttf);
}

@font-face {
    font-family: 'Overpass-Regular';
    src: url(./Fonts/Overpass-Regular.ttf);
}

:root {
    --primary-color-orange: #fb7413;
    --second-color-light-grey: #959eac;
    --second-color-dark-blue: #252d37;
    --second-color-very-dark-blue: #121417;
}

body {
    min-height: 100vh;
    display: grid;
    place-items: center;
    background-image: linear-gradient(171.8deg, rgba(255, 159, 0, 1) -6.3%, rgba(208, 23, 23, 1) 86.7%);
    font-family: 'Overpass-Regular';
}

.container {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 2.5rem 2rem;
    border-radius: 2rem 1rem 1rem 4rem;
    max-width: 400px;
    position: relative;
    margin: 1rem;
    box-shadow: 10px 10px 10px black;
}

/* .container::after {
    content: '';
    width: 410px;
    height: 440px;
    border-radius: 2rem 1rem 1rem 4rem;
    top: 0;
    left: 0;
    background-color: #000000;
    position: absolute;
    z-index: -1;
    filter: blur(10px);
} */

.rating {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.icon__star {
    padding: 1rem;
    background-color: var(--second-color-dark-blue);
    border-radius: 50%;
}

.rating__information {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rating__title {
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: .1rem;

}

.rating__paragraph {
    font-size: 15px;
    color: var(--second-color-light-grey);
    line-height: 1.5rem;
}

.rating__numbers {
    display: flex;
    list-style: none;
    justify-content: center;
    flex-wrap: wrap;
    gap: .2rem;
}


.rating__element {
    background-color: var(--second-color-dark-blue);
    transition: .2s ease all;
    border-radius: 50%;
    color: white;
    text-decoration: none;

    width: 50px;
    height: 50px;

    display: grid;
    place-items: center;

    transition: .5s ease all;
}



.rating__element:hover {
    background-color: var(--primary-color-orange);
    cursor: pointer;

}

.rating__element.selected {
    background-color: white;
    color: black;
}




.rating__submit {
    padding: .8rem;
    border-radius: 1.5rem;
    border: none;
    font-size: .9rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: white;
    background-color: var(--second-color-very-dark-blue);
    border: 1px solid var(--second-color-dark-blue);
}

.rating__submit.selected-submit {
    background-color: var(--primary-color-orange);
    transition: .5s ease;
    cursor: pointer;
    color: var(--second-color-very-dark-blue);
}



.container__hidden {
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
    display: none;
}

.container__hidden.visible {
    display: flex;
}

.rating.hidden {
    display: none;
}

.rating__selection {
    background-color: var(--second-color-very-dark-blue);
    padding: .4rem;
    font-size: .9rem;
    font-weight: 200;
    color: var(--primary-color-orange);
    border-radius: 1rem;
    padding: .4rem 1.3rem;
}

.rating__information-hidden {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}